@model IEnumerable<RolModel>
@{
    ViewData["Title"] = "Listado de Agencias";
}


<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="row">
    <div action="offset-12 col-3 mb-3">

        <div class="card border">
            @* CARD HEADER *@
            <div class="card-header bg-light">
                <div class="row">
                    <div class="col">
                        <h3>
                            <strong><i class="bi bi-list-check"></i> Listado de roles</strong>
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="text-white text-end">
                            <a asp-action="Crear" asp-controller="Rol" class="btn btn-success">
                                <i class="bi bi-file-plus-fill"></i> Agregar
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            @* CARD HEADER *@
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model != null)
                    {
                        <table class="table table-borderless table-striped table-light" id="tblResponsive" width="100%" cellspacing="0">
                            <thead>
                                <tr class="bg-primary text-black">
                                    <th class="">Código</th>
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">Estatus</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr onclick="window.location.href='@Url.Action("Editar", "Rol", new { codigoRegistro = item.codigoRol })';">
                                        @* <tr> *@
                                        @* <td><a href="javascript:listadoLinkEditar('Agencia', 'Editar', 'codigoRegistro', @item.codigoAgencia)" class="text-decoration-none">@item.codigoAgencia</a> </td> *@
                                        <td role="button">@item.codigoRol</td>
                                        <td role="button">@item.nombreRol</td>

                                        @if (item.estatus == 1)
                                        {
                                            <td role="button"><span class="text-success"> Activo</span></td>
                                        }
                                        else if (item.estatus == 2)
                                        {
                                            <td role="button"><span class="text-danger"> Inactivo</span></td>
                                        }
                                        else
                                        {
                                            <td role="button"><span class="text-muted"><i class="bi bi-ban"></i> No cuenta con un estatus</span></td>
                                        }
                                        <td>
                                            <button class="btn btn-outline-danger" onclick="event.stopPropagation(); eliminarRegistro(@item.codigoRol, '@item.nombreRol', 'Rol','EditarEliminar')">
                                                <i class="bi bi-trash-fill"></i>
                                            </button>
                                        </td>
          
                                    </tr>
                                }
                            </tbody>
                        </table>


                    }
                    else
                    {
                        <p>No hay registros</p>
                    }

                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            formatoTablaResponsive();
        });
    </script>

}

